*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: hwb(0 0% 40%);
    color: white;
}


ul{
    justify-content: space-between; 
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

.logo{
    width: 64px;
}

